.contact-div {
  margin-bottom: 50px;
  background-color: yellow;
  height: 400px;
}

.contact-title-div {
  background-color: rgb(102, 228, 53);
  height: 100px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
}

.contact-mail-div {
  background-color: blueviolet;
  width: 40%;
  height: 10%;
  margin-left: 53%;
  margin-right: 5%;
  margin-bottom: 20px;
}

.contact-name-div {
  margin-left: 5%;
  background-color: aqua;
  width: 30%;
  height: 10%;
  margin-bottom: 10px;
}

.contact-message-div {
  background-color: blue;
  margin-left: 5%;
  margin-right: 5%;
  width:90%;
  height: 30%;
}