.nav-lat {
    /*background: #468fd328;*/
    background-color: #b5a1d471;
    width: 40000000px;
    border-radius: 5px;
    height: 40px;
    border: #643bb1}
.nav-top {
    /*background: #d4d6ec65;*/
    color: #643bb1;
    border-radius: 5px;
    height: 40px;
    /*width: 50px;*/
}