.nav-lat-div {
    position: absolute;
    background-color: #f4f0f0;
    border-radius: 10px;
}

.nav-lat {
    position: absolute;
    top: 0;
    border-radius: 10px;
    height: 50px;
}

.nav-lat a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    background-color: #b5a1d471;
    border-radius: 10px;
    border: #643bb1;
    padding: 10px 00px;
}

.nav-top {
    /*background: #d4d6ec65;*/
    color: #643bb1;
    border-radius: 5px;
    height: 40px;
    /*width: 50px;*/
}



.nav-lat-div-pp {
    position: absolute;
    background-color: #f4f0f0;
    border-radius: 10px;
    margin-bottom: 20px;
}

.nav-lat-pp {
    position: absolute;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    height: 50px;
    width: 50px;
}

.nav-lat-pp a {
    background-color: #b5a1d471;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    padding: 4px 0px;

}
